<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/index">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="body">


    <!--/ End Header -->
    <!-- Slider Area -->
    <section class="hero-slider">
        <!-- Single Slider -->
        <div class="single-slider">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-9 offset-lg-3 col-12">
                        <div class="text-inner">
                            <div class="row">
                                <div class="col-lg-8 col-12">
                                    <div class="hero-text">
                                        <h1><span>UP TO 50% OFF </span>Food For Everyone</h1>
                                        <p>
                                            Maboriosam in a nesciung eget magnae <br> dapibus disting tloctio in the
                                            find
                                            it pereri <br> odiy maboriosm.
                                        </p>
                                        <div class="button">
                                            <a href="#" class="btn">Shop Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>
    <!--/ End Slider Area -->
    <!-- Start Small Banner  -->
    <section class="small-banner section">
        <div class="container-fluid">
            <div class="row">
                <!-- Single Banner  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-banner">
                        <img src="/images/food/ga2.jpg" alt="#">
                        <div class="content">
                            <p>Flash Sale</p>
                            <h3>Chicken <br> Up to <span>40%</span> Off</h3>
                            <h3 style="color: deepskyblue;">Best <br> Chicken</h3>
                        </div>
                    </div>
                </div>
                <!-- /End Single Banner  -->
                <!-- Single Banner  -->
                <div class=" col-lg-4 col-md-6 col-12">
                            <div class="single-banner">
                                <img src="/images/food/beef2.jpg" alt="#">
                                <div class="content">
                                    <p>Pizza Collections</p>
                                    <h3>Awesome Pizza <br> 2020</h3>
                                    <h3 style="color: deepskyblue;">Best <br> Beef</h3>
                        </div>
                    </div>
                </div>
                <!-- /End Single Banner  -->
                <!-- Single Banner  -->
                <div class=" col-lg-4 col-12">
                                    <div class="single-banner tab-height">
                                        <img src="/images/food/pizza3.jpg" alt="#">
                                        <div class="content">
                                            <p>Flash Sale</p>
                                            <h3 style="color: deepskyblue;">Best <br> Pizza</h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Small Banner -->
    <!-- Start Product Area -->
    <!-- End Product Area -->
    <!-- Start Midium Banner  -->
    <!-- End Midium Banner -->
    <!-- Start Most Popular -->
    <div class=" product-area most-popular section">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="section-title">
                                                            <h2>Hot Restaurant</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="owl-carousel popular-slider">
                                                            <!-- Start Single Product -->
                                                            <div class="single-product" th:each="lst: ${lstRes}">
                                                                <div class="product-img">
                                                                    <a href="product-details.html">
                                                                        <img class="default-img" th:src="${lst.address}"
                                                                             alt="#">
                                                                        <span class="out-of-stock">Hot</span>
                                                                    </a>
                                                                </div>
                                                                <div class="product-content">
                                                                    <h3>
                                                                        <a th:href="@{/Restaurant/show/{id}(id=${lst.getResId()})}"
                                                                           th:text="${lst.getLogoUrl()}"
                                                                           style="text-align: center; font-weight: bold; font-size: 25px">Black
                                                                            Sunglass For Women</a></h3>
                                                                </div>
                                                            </div>
                                                            <!-- End Single Product -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Most Popular Area -->
                                        <!-- Start Shop Home List  -->
                                        <!-- End Shop Home List  -->
                                        <!-- Start Cowndown Area -->

                                    </div>
</body>
</html>