<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="img/logo.png" type="image/png">

    <link rel="stylesheet" href="/css/bootstrap1.min.css"/>

    <link rel="stylesheet" href="/vendors/themefy_icon/themify-icons.css"/>

    <link rel="stylesheet" href="/vendors/swiper_slider/css/swiper.min.css"/>

    <link rel="stylesheet" href="/vendors/select2/css/select2.min.css"/>

    <link rel="stylesheet" href="/vendors/niceselect/css/nice-select.css"/>

    <link rel="stylesheet" href="/vendors/owl_carousel/css/owl.carousel.css"/>

    <link rel="stylesheet" href="/vendors/gijgo/gijgo.min.css"/>

    <link rel="stylesheet" href="/vendors/font_awesome/css/all.min.css"/>
    <link rel="stylesheet" href="/vendors/tagsinput/tagsinput.css"/>

    <link rel="stylesheet" href="/vendors/datatable/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/vendors/datatable/css/responsive.dataTables.min.css"/>
    <link rel="stylesheet" href="/vendors/datatable/css/buttons.dataTables.min.css"/>

    <link rel="stylesheet" href="/vendors/text_editor/summernote-bs4.css"/>

    <link rel="stylesheet" href="/vendors/morris/morris.css">

    <link rel="stylesheet" href="/vendors/material_icon/material-icons.css"/>

    <link rel="stylesheet" href="/css/metisMenu.css">

    <link rel="stylesheet" href="/css/style1.css"/>
    <link rel="stylesheet" href="/css/default.css" id="colorSkinCSS">

    <style>
        body {
            color: #566787;
            background: #f5f5f5;
            font-family: 'Varela Round', sans-serif;
            font-size: 13px;
        }

        .table-responsive {
            margin: 30px 70px;
        }

        .table-wrapper {
            background: #fff;
            padding: 20px 25px;
            border-radius: 3px;
            min-width: 1200px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }

        .table-title {
            padding-bottom: 15px;
            background: #435d7d;
            color: #fff;
            padding: 16px 30px;
            min-width: 100%;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

        .table-title .btn-group {
            float: right;
        }

        .table-title .btn {
            color: #fff;
            float: right;
            font-size: 13px;
            border: none;
            min-width: 50px;
            border-radius: 2px;
            border: none;
            outline: none !important;
            margin-left: 10px;
        }

        .table-title .btn i {
            float: left;
            font-size: 21px;
            margin-right: 5px;
        }

        .table-title .btn span {
            float: left;
            margin-top: 2px;
        }

        table.table tr th,
        table.table tr td {
            border-color: #e9e9e9;
            padding: 12px 15px;
            vertical-align: middle;
        }

        table.table tr th:first-child {
            width: 60px;
        }

        table.table tr th:last-child {
            width: 100px;
        }

        table.table-striped tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }

        table.table-striped.table-hover tbody tr:hover {
            background: #f5f5f5;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table td:last-child i {
            opacity: 0.9;
            font-size: 22px;
            margin: 0 5px;
        }

        table.table td a {
            font-weight: bold;
            color: #566787;
            display: inline-block;
            text-decoration: none;
            outline: none !important;
        }

        table.table td a:hover {
            color: #2196F3;
        }

        table.table td a.edit {
            color: #FFC107;
        }

        table.table td a.delete {
            color: #F44336;
        }

        table.table td i {
            font-size: 19px;
        }

        table.table .avatar {
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
        }

        .pagination {
            float: right;
            margin: 0 0 5px;
        }

        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 2px !important;
            text-align: center;
            padding: 0 6px;
        }

        .pagination li a:hover {
            color: #666;
        }

        .pagination li.active a,
        .pagination li.active a.page-link {
            background: #03A9F4;
        }

        .pagination li.active a:hover {
            background: #0397d6;
        }

        .pagination li.disabled i {
            color: #ccc;
        }

        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }

        .hint-text {
            float: left;
            margin-top: 10px;
            font-size: 13px;
        }

        /* Custom checkbox */
        .custom-checkbox {
            position: relative;
        }

        .custom-checkbox input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            margin: 5px 0 0 3px;
            z-index: 9;
        }

        .custom-checkbox label:before {
            width: 18px;
            height: 18px;
        }

        .custom-checkbox label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            background: white;
            border: 1px solid #bbb;
            border-radius: 2px;
            box-sizing: border-box;
            z-index: 2;
        }

        .custom-checkbox input[type="checkbox"]:checked + label:after {
            content: '';
            position: absolute;
            left: 6px;
            top: 3px;
            width: 6px;
            height: 11px;
            border: solid #000;
            border-width: 0 3px 3px 0;
            transform: inherit;
            z-index: 3;
            transform: rotateZ(45deg);
        }

        .custom-checkbox input[type="checkbox"]:checked + label:before {
            border-color: #03A9F4;
            background: #03A9F4;
        }

        .custom-checkbox input[type="checkbox"]:checked + label:after {
            border-color: #fff;
        }

        .custom-checkbox input[type="checkbox"]:disabled + label:before {
            color: #b8b8b8;
            cursor: auto;
            box-shadow: none;
            background: #ddd;
        }

        /* Modal styles */
        .modal .modal-dialog {
            max-width: 400px;
        }

        .modal .modal-header,
        .modal .modal-body,
        .modal .modal-footer {
            padding: 20px 30px;
        }

        .modal .modal-content {
            border-radius: 3px;
            font-size: 14px;
        }

        .modal .modal-footer {
            background: #ecf0f1;
            border-radius: 0 0 3px 3px;
        }

        .modal .modal-title {
            display: inline-block;
        }

        .modal .form-control {
            border-radius: 2px;
            box-shadow: none;
            border-color: #dddddd;
        }

        .modal textarea.form-control {
            resize: vertical;
        }

        .modal .btn {
            border-radius: 2px;
            min-width: 100px;
        }

        .modal form label {
            font-weight: normal;
        }

    </style>
    <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
    </script>
</head>
<body>
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="index.html"><img src="" alt></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class>
            <a class="has-arrow" href="#" aria-expanded="false">
                <i class="fa fa-store fa-lg"></i>

                <span>Quản lí cửa hàng</span>
            </a>
            <ul>
                <li><a href="/">Back to home</a></li>
                <li><a href="/admin/restaurant-management">Restaurant</a></li>
                <li><a href="/admin/category-management">Category</a></li>
                <li><a href="/admin/food-management">Food</a></li>
                <li><a href="/admin/order-management">Order</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div layout:fragment="body">

</div>


<script src="/vendors/count_up/jquery.waypoints.min.js"></script>

<script src="/vendors/count_up/jquery.counterup.min.js"></script>

<script src="/vendors/swiper_slider/js/swiper.min.js"></script>

<script src="/vendors/niceselect/js/jquery.nice-select.min.js"></script>

<script src="/vendors/owl_carousel/js/owl.carousel.min.js"></script>

<script src="/vendors/gijgo/gijgo.min.js"></script>

<script src="/vendors/datatable/js/jquery.dataTables.min.js"></script>
<script src="/vendors/datatable/js/dataTables.responsive.min.js"></script>
<script src="/vendors/datatable/js/dataTables.buttons.min.js"></script>
<script src="/vendors/datatable/js/buttons.flash.min.js"></script>
<script src="/vendors/datatable/js/jszip.min.js"></script>
<script src="/vendors/datatable/js/pdfmake.min.js"></script>
<script src="/vendors/datatable/js/vfs_fonts.js"></script>
<script src="/vendors/datatable/js/buttons.html5.min.js"></script>
<script src="/vendors/datatable/js/buttons.print.min.js"></script>


<script src="/vendors/progressbar/jquery.barfiller.js"></script>

<script src="/vendors/tagsinput/tagsinput.js"></script>

<script src="/vendors/text_editor/summernote-bs4.js"></script>


<script>
    function deleteItem(){
        $('.delete').on('click', function () {
            var row = $(this).closest('tr'); // Get the clicked row
            var id = row.find('td:eq(1)').text(); // Index 0 corresponds to the 'id' column (first column
            var name = row.find('td:eq(4)').text(); // Index 4 corresponds to the 'name' column
            // Set the values in the delete modal
            $('#deleteEmployeeModal input[name="resId"]').val(id);
            $('#restaurantNameParagraph').text("Are you sure you want to delete " + name + "?");
        });
    }
    deleteItem();

    function deleteCategory(){
        $('.delete-category').on('click', function () {
            var row = $(this).closest('tr'); // Get the clicked row
            var id = row.find('td:eq(1)').text(); // Index 0 corresponds to the 'id' column (first column
            var name = row.find('td:eq(2)').text(); // Index 4 corresponds to the 'name' column
            // Set the values in the delete modal
            // $('#categoryDeleteId').val(id);
            $('#deleteEmployeeModal input[name="cate_id"]').val(id);
            $('#categoryNameParagraph').text("Are you sure you want to delete " + name + "?");
        });
    }

    deleteCategory();

    function deleteFood(){
        $('.delete-food').on('click', function () {
            var row = $(this).closest('tr'); // Get the clicked row
            var id = row.find('td:eq(1)').text(); // Index 0 corresponds to the 'id' column (first column
            var name = row.find('td:eq(3)').text(); // Index 4 corresponds to the 'name' column
            // Set the values in the delete modal
            $('#deleteEmployeeModal input[name="foodId"]').val(id);
            $('#foodNameParagraph').text("Are you sure you want to delete " + name + "?");
        });
    }

    deleteFood();

    function deleteOrder(){
        $('.delete-order').on('click', function () {
            var row = $(this).closest('tr'); // Get the clicked row
            var id = row.find('td:eq(1)').text(); // Index 0 corresponds to the 'id' column (first column
            var address = row.find('td:eq(3)').text(); // Index 4 corresponds to the 'name' column
            // Set the values in the delete modal
            $('#deleteEmployeeModal input[name="order_id"]').val(id);
            $('#orderNameParagraph').text("Are you sure you want to delete " + address + "?");
        });
    }

    deleteOrder();

</script>

<script>
    function setValueCategory() {
        $('.edit-category').on('click', function () {
            var row = $(this).closest('tr'); // Get the clicked row
            var id = row.find('td:eq(1)').text(); // Index 0 corresponds to the 'id' column (first column
            var name = row.find('td:eq(2)').text(); // Index 4 corresponds to the 'name' column
            var restaurantId = $(this).data('restaurant-id');
            console.log(restaurantId)
            // Set the values in the edit modal
            $('#categoryId').val(id);
            $('#editEmployeeModal input[name="name"]').val(name);
            $('#restaurantSelect').val(restaurantId)
        });
    }

    function setValueFood() {
        $('.edit-food').on('click', function () {
            var row = $(this).closest('tr'); // Get the clicked row
            var id = row.find('td:eq(1)').text(); // Index 0 corresponds to the 'id' column (first column
            var name = row.find('td:eq(3)').text(); // Index 4 corresponds to the 'name' column
            var price = row.find('td:eq(4)').text(); // Index 4 corresponds to the 'name' column
            var quantity = row.find('td:eq(5)').text(); // Index 4 corresponds to the 'name' column
            var imageUrl = row.find('td:eq(2) img').attr('src'); // Index 3 corresponds to the 'logoUrl' column
            var categoryId = $(this).data('category-id');
            // Set the values in the edit modal
            $('#foodId').val(id);
            $('#editEmployeeModal input[name="name"]').val(name);
            $('#editEmployeeModal input[name="price"]').val(price);
            $('#editEmployeeModal input[name="unit_quantity"]').val(quantity);
            $('#editEmployeeModal input[name="image"]').val(imageUrl);
            $('#categorySelect').val(categoryId)
        });
    }
    function setValueOrder(){
        $('.edit-order').on('click', function () {
            var row = $(this).closest('tr'); // Get the clicked row
            var id = row.find('td:eq(1)').text(); // Index 0 corresponds to the 'id' column (first column
            var status = row.find('td:eq(4)').text(); // Index 0 corresponds to the 'id' column (first column

// Set the values in the edit modal
            $('#editEmployeeModal input[name="order_id"]').val(id);
            $('#orderSelect').val(status);
        });
    }

    $(document).ready(function () {
        // Capture the clicked row's data and populate the edit modal fields
        setValueCategory();
        setValueFood();
        setValueOrder();
    });
</script>


<script>
    function setListener() {
        $('.edit-link').on('click', function () {
            var row = $(this).closest('tr'); // Get the clicked row
            var id = row.find('td:eq(1)').text(); // Index 0 corresponds to the 'id' column (first column
            var name = row.find('td:eq(4)').text(); // Index 4 corresponds to the 'name' column
            var address = row.find('td:eq(2)').text(); // Index 2 corresponds to the 'address' column
            var logoUrl = row.find('td:eq(3) img').attr('src'); // Index 3 corresponds to the 'logoUrl' column
            // Set the values in the edit modal
            $('#editEmployeeModal input[name="resId"]').val(id);
            $('#editEmployeeModal input[name="name"]').val(name);
            $('#editEmployeeModal input[name="address"]').val(address);
            $('#editEmployeeModal input[name="logoUrl"]').val(logoUrl);
        });
    }

    $(document).ready(function () {
        // Capture the clicked row's data and populate the edit modal fields
       setListener();
       // get query page
       //  const urlParams = new URLSearchParams(window.location.search);
       //  const page = urlParams.get('page');
       //  if (page) {
       //      currentPage = page;
       //      renderPage();
       //  }


    });
</script>

<script th:inline="javascript">
    const restaurants = [[${restaurants}]];
    const length = restaurants.length;
    const elementPerPage = 5;
    const numberOfPages = Math.ceil(length / elementPerPage);

    let currentPage = 1;
    renderPage();

    function movePage(type) {
        if (type === -1) {
            if (currentPage === 1) {
                return;
            }
            currentPage--;
            renderPage();
        } else if (type === 0) {
            if (currentPage === numberOfPages) {
                return;
            }
            currentPage++;
            renderPage();
        } else {
            currentPage = type;
            renderPage();
        }
        updateTable();
        const form = document.getElementById('editForm');
        form.action = '/restaurant-management/edit?page=' + currentPage;

    }

    function renderPage() {
        const ulTag = document.querySelector('body > div.container-xl > div > div > div.clearfix > ul');
        for (let i = ulTag.children.length - 1; i >= 0; i--) {
            if (i === 0 || i === ulTag.children.length - 1) {
                continue;
            }
            ulTag.children[i].remove();
        }
        //  <li class="page-item active"><a href="#" class="page-link">1</a></li> render 3

        let start = currentPage === 1 ? 1 : currentPage - 1;
        let end = currentPage === numberOfPages ? numberOfPages : currentPage + 1;


        for (let i = 0; i < 3; i++) {
            const liTag = document.createElement('li');
            liTag.classList.add('page-item');
            if (i === 0 && currentPage === start) {
                //     not visible li
                liTag.classList.add('invisible', 'disabled');
                liTag.innerText = '&nbsp;';
            } else if (i === 2 && currentPage === end) {
                //     empty
                liTag.classList.add('invisible', 'disabled');
                liTag.innerText = '&nbsp;';


            } else {
                if (i === 1) {
                    liTag.classList.add('active');
                }
                const aTag = document.createElement('a');
                aTag.classList.add('page-link');
                aTag.innerText = i === 0 ? start : i === 1 ? currentPage : end;

                aTag.addEventListener('click', function () {
                    movePage(i === 0 ? start : i === 1 ? currentPage : end);
                })
                liTag.appendChild(aTag);

            }
            ulTag.insertBefore(liTag, ulTag.children[ulTag.children.length - 1]);


        }


    }

    function updateTable() {
        const tableRes = document.getElementById('restaurantTable');
        tableRes.innerHTML = '';

        let innerHTML = '';
        innerHTML += '<table>\n' +
            '                <thead>\n' +
            '                <tr>\n' +
            '                    <th>\n' +
            '                           <span class="custom-checkbox">\n' +
            '                               <input type="checkbox" id="selectAll">\n' +
            '                               <label for="selectAll"></label>\n' +
            '                           </span>\n' +
            '                    </th>\n' +
            '                    <th>Id</th>\n' +
            '                    <th>Address</th>\n' +
            '                    <th>Logo</th>\n' +
            '                    <th>Name</th>\n' +
            '                    <th>Action</th>\n' +
            '\n' +
            '                </tr>\n' +
            '                </thead>\n' +
            '                <tbody>\n';


        let firstRow = (currentPage - 1) * elementPerPage;
        let lastRow = currentPage * elementPerPage > length ? length : currentPage * elementPerPage;

        for (let i = firstRow; i < lastRow; i++) {
            const data = restaurants[i];
            innerHTML += '<tr>\n' +
                '                    <td>\n' +
                '                    <span class="custom-checkbox">\n' +
                '                        <input type="checkbox" id="checkbox1" name="options[]" th:value="${restaurant.resId}">\n' +
                '                        <label for="checkbox1"></label>\n' +
                '                    </span>\n' +
                '                    </td>\n' +
                `                    <td >${data.resId}</td>\n` +
                `                    <td >${data.logoUrl}</td>\n` +
                `                    <td><img alt="" src="${data.address}" width="60px" height="60px" style="object-fit: contain"></td>\n` +
                `                    <td >${data.name}</td>\n` +
                '                    <!-- Add other columns as needed -->\n' +
                '                    <td>\n' +
                '                        <a href="#editEmployeeModal" class="edit edit-link" data-toggle="modal">\n' +
                '                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>\n' +
                '                        </a>\n' +
                '                        <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">\n' +
                '                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>\n' +
                '                        </a>\n' +
                '                    </td>\n' +
                '                </tr>\n';
        }


        innerHTML += '</tbody>\n' +
            '            </table>';

        tableRes.innerHTML = innerHTML;
        setListener();
        deleteItem();
    }


</script>

<script th:inline="javascript">
    const categories = [[${categories}]];
    const cateLength = categories.length;
    const cateElementPerPage = 5;
    const cateNumberOfPages = Math.ceil(cateLength / cateElementPerPage);
    let cateCurrentPage = 1;
    renderPageCategory();

    function movePageCategory(type) {
        if (type === -1) {
            if (cateCurrentPage === 1) {
                return;
            }
            cateCurrentPage--;
            renderPageCategory();
        } else if (type === 0) {
            if (cateCurrentPage === cateNumberOfPages) {
                return;
            }
            cateCurrentPage++;
            renderPageCategory();
        } else {
            cateCurrentPage = type;
            renderPageCategory();
        }
        updateTableCategory();
        // const form = document.getElementById('editForm');
        // form.action = '/restaurant-management/edit?page=' + currentPage;

    }


    function renderPageCategory() {
        const ulTagCategory = document.querySelector('body > div.container-xl > div > div > div.clearfix > ul');
        for (let i = ulTagCategory.children.length - 1; i >= 0; i--) {
            if (i === 0 || i === ulTagCategory.children.length - 1) {
                continue;
            }
            ulTagCategory.children[i].remove();
        }
        //  <li class="page-item active"><a href="#" class="page-link">1</a></li> render 3

        let start = cateCurrentPage === 1 ? 1 : cateCurrentPage - 1;
        let end = cateCurrentPage === cateNumberOfPages ? cateNumberOfPages : cateCurrentPage + 1;


        for (let i = 0; i < 3; i++) {
            const liTagCategory = document.createElement('li');
            liTagCategory.classList.add('page-item');
            if (i === 0 && cateCurrentPage === start) {
                //     not visible li
                liTagCategory.classList.add('invisible', 'disabled');
                liTagCategory.innerText = '&nbsp;';
            } else if (i === 2 && cateCurrentPage === end) {
                //     empty
                liTagCategory.classList.add('invisible', 'disabled');
                liTagCategory.innerText = '&nbsp;';


            } else {
                if (i === 1) {
                    liTagCategory.classList.add('active');
                }
                const aTagCategory = document.createElement('a');
                aTagCategory.classList.add('page-link');
                aTagCategory.innerText = i === 0 ? start : i === 1 ? cateCurrentPage : end;

                aTagCategory.addEventListener('click', function () {
                    movePageCategory(i === 0 ? start : i === 1 ? cateCurrentPage : end);
                })
                liTagCategory.appendChild(aTagCategory);

            }
            ulTagCategory.insertBefore(liTagCategory, ulTagCategory.children[ulTagCategory.children.length - 1]);


        }


    }


    function updateTableCategory() {
        //function to update table category
        const tableCate = document.getElementById('categoryTable');
        tableCate.innerHTML = '';

        let innerHTML = '';
        innerHTML += '<table>\n' +
            '                <thead>\n' +
            '                <tr>\n' +
            '                    <th>\n' +
            '                           <span class="custom-checkbox">\n' +
            '                               <input type="checkbox" id="selectAll">\n' +
            '                               <label for="selectAll"></label>\n' +
            '                           </span>\n' +
            '                    </th>\n' +
            '                    <th>Id</th>\n' +
            '                    <th>Name</th>\n' +
            '                    <th>Restaurant</th>\n' +
            '                    <th>Action</th>\n' +
            '\n' +
            '                </tr>\n' +
            '                </thead>\n' +
            '                <tbody>\n';

        let firstRow = (cateCurrentPage - 1) * cateElementPerPage;
        let lastRow = cateCurrentPage * cateElementPerPage > cateLength ? cateLength : cateCurrentPage * cateElementPerPage;

        for (let i = firstRow; i < lastRow; i++) {
            const category = categories[i];
            innerHTML +=  '<tr>\n' +
                '                    <td>\n' +
                '                    <span class="custom-checkbox">\n' +
                '                        <input type="checkbox" id="checkbox1" name="options[]" th:value="${category.cateId}">\n' +
                '                        <label for="checkbox1"></label>\n' +
                '                    </span>\n' +
                '                    </td>\n' +
                `                    <td >${category.cate_id}</td>\n` +
                `                    <td >${category.name}</td>\n` +
                `                    <td >${category.restaurant.name}</td>\n` +
                '                    <!-- Add other columns as needed -->\n' +
                '                    <td>\n' +
                '                        <a href="#editEmployeeModal" class="edit edit-category" data-toggle="modal" data-restaurant-id="'+category.restaurant.resId+'">\n' +
                '                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>\n' +
                '                        </a>\n' +
                '                        <a href="#deleteEmployeeModal" class="delete delete-category" data-toggle="modal">\n' +
                '                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>\n' +
                '                        </a>\n' +
                '                    </td>\n' +
                '                </tr>\n';

        }


        innerHTML += '</tbody>\n' +
            '            </table>';

        tableCate.innerHTML = innerHTML;
        setValueCategory();
        deleteCategory();
    }



</script>

<script th:inline="javascript">
    const foods = [[${foods}]];
    const foodLength = foods.length;
    const foodElementPerPage = 5;
    const foodNumberOfPages = Math.ceil(foodLength / foodElementPerPage);
    let foodCurrentPage = 1;
    renderPageFood();

    function movePageFood(type) {
        if (type === -1) {
            if (foodCurrentPage === 1) {
                return;
            }
            foodCurrentPage--;
            renderPageFood();
        } else if (type === 0) {
            if (foodCurrentPage === foodNumberOfPages) {
                return;
            }
            foodCurrentPage++;
            renderPageFood();
        } else {
            foodCurrentPage = type;
            renderPageFood();
        }
        updateTableFood();
        // const form = document.getElementById('editForm');
        // form.action = '/restaurant-management/edit?page=' + currentPage;

    }


    function renderPageFood() {
        const ulTagFood = document.querySelector('body > div.container-xl > div > div > div.clearfix > ul');
        for (let i = ulTagFood.children.length - 1; i >= 0; i--) {
            if (i === 0 || i === ulTagFood.children.length - 1) {
                continue;
            }
            ulTagFood.children[i].remove();
        }
        //  <li class="page-item active"><a href="#" class="page-link">1</a></li> render 3

        let start = foodCurrentPage === 1 ? 1 : foodCurrentPage - 1;
        let end = foodCurrentPage === foodNumberOfPages ? foodNumberOfPages : foodCurrentPage + 1;


        for (let i = 0; i < 3; i++) {
            const liTagFood = document.createElement('li');
            liTagFood.classList.add('page-item');
            if (i === 0 && foodCurrentPage === start) {
                //     not visible li
                liTagFood.classList.add('invisible', 'disabled');
                liTagFood.innerText = '&nbsp;';
            } else if (i === 2 && foodCurrentPage === end) {
                //     empty
                liTagFood.classList.add('invisible', 'disabled');
                liTagFood.innerText = '&nbsp;';


            } else {
                if (i === 1) {
                    liTagFood.classList.add('active');
                }
                const aTagFood = document.createElement('a');
                aTagFood.classList.add('page-link');
                aTagFood.innerText = i === 0 ? start : i === 1 ? foodCurrentPage : end;

                aTagFood.addEventListener('click', function () {
                    movePageFood(i === 0 ? start : i === 1 ? foodCurrentPage : end);
                })
                liTagFood.appendChild(aTagFood);

            }
            ulTagFood.insertBefore(liTagFood, ulTagFood.children[ulTagFood.children.length - 1]);


        }


    }


    function updateTableFood() {
        //function to update table food
        const tableFood = document.getElementById('foodTable');
        tableFood.innerHTML = '';

        let innerHTML = '';
        innerHTML += '<table>\n' +
            '                <thead>\n' +
            '                <tr>\n' +
            '                    <th>\n' +
            '                           <span class="custom-checkbox">\n' +
            '                               <input type="checkbox" id="selectAll">\n' +
            '                               <label for="selectAll"></label>\n' +
            '                           </span>\n' +
            '                    </th>\n' +
            '                    <th>Id</th>\n' +
            '                    <th>Image</th>\n' +
            '                    <th>Name</th>\n' +
            '                    <th>Price</th>\n' +
            '                    <th>Quantity</th>\n' +
            '                    <th>Category</th>\n' +
            '                    <th>Action</th>\n' +
            '\n' +
            '                </tr>\n' +
            '                </thead>\n' +
            '                <tbody>\n';

        let firstRow = (foodCurrentPage - 1) * foodElementPerPage;
        let lastRow = foodCurrentPage * foodElementPerPage > foodLength ? foodLength : foodCurrentPage * foodElementPerPage;

        for (let i = firstRow; i < lastRow; i++) {
            const food = foods[i];
            innerHTML +=  '<tr>\n' +
                '                    <td>\n' +
                '                    <span class="custom-checkbox">\n' +
                '                        <input type="checkbox" id="checkbox1" name="options[]" th:value="${food.foodId}">\n' +
                '                        <label for="checkbox1"></label>\n' +
                '                    </span>\n' +
                '                    </td>\n' +
                `                    <td >${food.foodId}</td>\n` +
                `                    <td><img alt="" src="${food.image}" width="60px" height="60px" style="object-fit: contain"></td>\n` +
                `                    <td >${food.name}</td>\n` +
                `                    <td >${food.price}</td>\n` +
                `                    <td >${food.unit_quantity}</td>\n` +
                `                    <td >${food.category.name}</td>\n` +
                '                    <!-- Add other columns as needed -->\n' +
                '                    <td>\n' +
                '                        <a href="#editEmployeeModal" class="edit edit-food" data-toggle="modal" data-category-id="'+food.category.cate_id+'">\n' +
                '                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>\n' +
                '                        </a>\n' +
                '                        <a href="#deleteEmployeeModal" class="delete delete-food" data-toggle="modal">\n' +
                '                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>\n' +
                '                        </a>\n' +
                '                    </td>\n' +
                '                </tr>\n';

        }


        innerHTML += '</tbody>\n' +
            '            </table>';

        tableFood.innerHTML = innerHTML;
        setValueFood();
        deleteFood();
    }



</script>

<script th:inline="javascript">
    const orders = [[${orders}]];
    const orderLength = orders.length;
    const orderElementPerPage = 5;
    const orderNumberOfPages = Math.ceil(orderLength / orderElementPerPage);
    let orderCurrentPage = 1;
    renderPageOrder();

    function movePageOrder(type) {
        if (type === -1) {
            if (orderCurrentPage === 1) {
                return;
            }
            orderCurrentPage--;
            renderPageOrder();
        } else if (type === 0) {
            if (orderCurrentPage === orderNumberOfPages) {
                return;
            }
            orderCurrentPage++;
            renderPageOrder();
        } else {
            orderCurrentPage = type;
            renderPageOrder();
        }
        updateTableOrder();
        // const form = document.getElementById('editForm');
        // form.action = '/restaurant-management/edit?page=' + currentPage;

    }


    function renderPageOrder() {
        const ulTagOrder = document.querySelector('body > div.container-xl > div > div > div.clearfix > ul');
        for (let i = ulTagOrder.children.length - 1; i >= 0; i--) {
            if (i === 0 || i === ulTagOrder.children.length - 1) {
                continue;
            }
            ulTagOrder.children[i].remove();
        }
        //  <li class="page-item active"><a href="#" class="page-link">1</a></li> render 3

        let start = orderCurrentPage === 1 ? 1 : orderCurrentPage - 1;
        let end = orderCurrentPage === orderNumberOfPages ? orderNumberOfPages : orderCurrentPage + 1;


        for (let i = 0; i < 3; i++) {
            const liTagOrder = document.createElement('li');
            liTagOrder.classList.add('page-item');
            if (i === 0 && orderCurrentPage === start) {
                //     not visible li
                liTagOrder.classList.add('invisible', 'disabled');
                liTagOrder.innerText = '&nbsp;';
            } else if (i === 2 && orderCurrentPage === end) {
                //     empty
                liTagOrder.classList.add('invisible', 'disabled');
                liTagOrder.innerText = '&nbsp;';


            } else {
                if (i === 1) {
                    liTagOrder.classList.add('active');
                }
                const aTagOrder = document.createElement('a');
                aTagOrder.classList.add('page-link');
                aTagOrder.innerText = i === 0 ? start : i === 1 ? orderCurrentPage : end;

                aTagOrder.addEventListener('click', function () {
                    movePageOrder(i === 0 ? start : i === 1 ? orderCurrentPage : end);
                })
                liTagOrder.appendChild(aTagOrder);

            }
            ulTagOrder.insertBefore(liTagOrder, ulTagOrder.children[ulTagOrder.children.length - 1]);


        }


    }


    function updateTableOrder() {
        //function to update table order
        const tableOrder = document.getElementById('orderTable');
        tableOrder.innerHTML = '';

        let innerHTML = '';
        innerHTML += '<table>\n' +
            '                <thead>\n' +
            '                <tr>\n' +
            '                    <th>\n' +
            '                           <span class="custom-checkbox">\n' +
            '                               <input type="checkbox" id="selectAll">\n' +
            '                               <label for="selectAll"></label>\n' +
            '                           </span>\n' +
            '                    </th>\n' +
            '                    <th>Id</th>\n' +
            '                    <th>Phone</th>\n' +
            '                    <th>Address</th>\n' +
            '                    <th>Status</th>\n' +
            '                    <th>Total Price</th>\n' +
            '                    <th>Restaurant</th>\n' +
            '                    <th>User</th>\n' +
            '                    <th>Action</th>\n' +
            '\n' +
            '                </tr>\n' +
            '                </thead>\n' +
            '                <tbody>\n';

        let firstRow = (orderCurrentPage - 1) * orderElementPerPage;
        let lastRow = orderCurrentPage * orderElementPerPage > orderLength ? orderLength : orderCurrentPage * orderElementPerPage;

        for (let i = firstRow; i < lastRow; i++) {
            const order = orders[i];
            innerHTML +=  '<tr>\n' +
                '                    <td>\n' +
                '                    <span class="custom-checkbox">\n' +
                '                        <input type="checkbox" id="checkbox1" name="options[]" th:value="${order.order_id}">\n' +
                '                        <label for="checkbox1"></label>\n' +
                '                    </span>\n' +
                '                    </td>\n' +
                `                    <td >${order.order_id}</td>\n` +
                `                    <td >${order.phone}</td>\n` +
                `                    <td >${order.address}</td>\n` +
                `                    <td >${order.status}</td>\n` +
                `                    <td >${order.totalPrice}</td>\n` +
                `                    <td >${order.restaurant.name}</td>\n` +
                `                    <td >${order.user.name}</td>\n` +
                '                    <!-- Add other columns as needed -->\n' +
                '                    <td>\n' +
                '                        <a href="#editEmployeeModal" class="edit edit-order" data-toggle="modal">\n' +
                '                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>\n' +
                '                        </a>\n' +
                '                        <a href="#deleteEmployeeModal" class="delete delete-order" data-toggle="modal">\n' +
                '                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>\n' +
                '                        </a>\n' +
                '                    </td>\n' +
                '                </tr>\n';

        }


        innerHTML += '</tbody>\n' +
            '            </table>';

        tableOrder.innerHTML = innerHTML;
        setValueOrder();
        deleteOrder();
    }



</script>


</body>

</html>
