<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org"
      layout:decorate="layout/index">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body  layout:fragment="body">



<header class="header shop">
  <!-- Topbar -->

  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">

          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
            <!-- Search Form -->
            <div class="search-top">
              <form class="search-form">
                <input type="text" placeholder="Search here..." name="search">
                <button value="search" type="submit"><i class="ti-search"></i></button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"></div>
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div class="search-bar-top">
            <div class="search-bar">
              <a th:href="@{/Restaurant/showAll(search='')}" class="btn btn-primary">All</a>


              <input name="search" id="SearchResByName"  placeholder="Search Restaurants Here....." type="search">
              <button class="btnSearch" id="searchRes"><i class="ti-search"></i></button>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- Header Inner -->

  <!--/ End Header Inner -->
</header>

<div class="container ">
  <div class="row " id="res-container">

    <div class="card mb-3 mt-3 col-lg-4 col-md-6 col-12" style="width: 18rem;" th:each="Res: ${listRes}">
      <img th:src="${Res.address}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5  th:text="${Res.getLogoUrl()}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</h5>
        <p th:text="${Res.name}" class="card-title">Card title</p>
        <a th:href="@{/Restaurant/show/{id}(id=${Res.getResId()})}" class="btn btn-primary">Food Now</a>
      </div>
    </div>



  </div>
</div>
<div class="container mt-3 mb-5">


  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li th:if="${currentPage != 0}" class="page-item">
        <a class="page-link" th:href="@{'?page=' + ${currentPage - 1} + '&search=' + ${search}}">Previous</a>
      </li>

      <li th:each="i : ${#numbers.sequence(1, totalPage)}"
          th:classappend="${currentPage == i - 1} ? 'active' : ''" class="page-item">
        <a class="page-link" th:href="@{'?page=' + ${i - 1} + '&search=' + ${search}}">[[${i}]]</a>
      </li>

      <li th:if="${currentPage + 1 != totalPage}" class="page-item">
        <a class="page-link" th:href="@{'?page=' + ${currentPage + 1} + '&search=' + ${search}}">Next</a>
      </li>
    </ul>
  </nav>








</div>

</body>

</html>