<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/admin_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="body">
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Food</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Food</span></a>
                        <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="foodTable">
                <thead>
                <tr>
                    <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                    </th>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="food, iterStat : ${foods}" th:if="${iterStat.index lt 5}">
                    <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" th:value="${food.foodId}">
								<label for="checkbox1"></label>
							</span>
                    </td>
                    <td th:text="${food.foodId}"></td>
                    <td><img alt="" th:src="${food.image}" width="60px" height="60px"
                                                     style="object-fit: contain"></td>
                    <td th:text="${food.name}"></td>
                    <td th:text="${food.price}"></td>
                    <td th:text="${food.unit_quantity}"></td>
                    <td th:text="${food.category.name}"></td>
                    <td>
                        <a href="#editEmployeeModal" class="edit edit-food" data-toggle="modal" th:data-category-id="${food.category.cate_id}"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#deleteEmployeeModal" class="delete delete-food" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <ul class="pagination" style="width: 250px; justify-content: space-between">
                    <li class="page-item disabled">
                        <button onclick="movePageFood(-1)">Previous</button>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item">
                        <button onclick="movePageFood(0)">Next</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/food-management/add}" th:object="${newFood}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Add Food</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" th:field="*{image}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" th:field="*{name}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" th:field="*{price}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" th:field="*{unit_quantity}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <br>
                        <label>
                            <select th:field="*{category.cate_id}" class="form-control" required>
                                <option th:each="category : ${categories}" th:value="${category.cate_id}" th:text="${category.name}"></option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/food-management/edit}" th:object="${newFood}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" th:field="*{foodId}" class="form-control" required id="foodId"/>

                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" th:field="*{image}" class="form-control" required name="image">
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" th:field="*{name}" class="form-control" required name="name">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" th:field="*{price}" class="form-control" required name="price">
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" th:field="*{unit_quantity}" class="form-control" required name="unit_quantity">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <br>
                        <label>
                            <select th:field="*{category.cate_id}" class="form-control" required id="categorySelect">
                                <option th:each="category : ${categories}" th:value="${category.cate_id}" th:text="${category.name}"></option>
                            </select>
                        </label>
                    </div>
                </div>                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/food-management/delete}"  th:object="${newFood}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Food</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" th:field="*{foodId}" class="form-control" required name="foodId"/>

                    <p id="foodNameParagraph">Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>