<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org"
      layout:decorate="layout/index">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="body">

    <div class="shopping-cart section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Shopping Summery -->
                    <table class="table shopping-summery">
                        <thead>
                        <tr class="main-hading">
                            <th>PRODUCT</th>
                            <th>NAME</th>
                            <th class="text-center">UNIT PRICE</th>
                            <th class="text-center">QUANTITY</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                        </thead>
                        <tbody id="body-cart">


                        <tr th:each="f : ${listFood}" th:id="'row-' + ${f.getFoodId()}">
                            <td class="image" data-title="No"><img th:src="${f.getImageUrl()}" alt="#"></td>
                            <td class="product-des" data-title="Description">
                                <p class="product-name" th:text="${f.getFoodName()}"></p>
                            </td>
                            <td class="price" data-title="Price"><span th:id="'price-' + ${f.getFoodId()}"
                                                                       th:text="${f.getFoodPrice()}"> </span></td>
                            <td class="qty" data-title="Qty">
                                <!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number btnMinus"
                                                data-type="minus" th:data-id="${f.getFoodId()}">
                                            <i class="ti-minus"></i>
                                        </button>
                                    </div>
                                    <input type="number" th:id="'quantity-' + ${f.getFoodId()}" class="input-number"
                                           data-min="1" data-max="100" th:value="${f.getQuantity()}">
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number btnPlus"
                                                data-type="plus" th:data-id="${f.getFoodId()}">
                                            <i class="ti-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </td>
                            <td class="total-amount" data-title="Total"><span th:id="'total-amount-' + ${f.getFoodId()}"
                                                                              th:text="${f.getOrderPrice()}">      <span>$</span></span>
                            </td>
                            <td class="action" data-title="Remove">
                                <button class="btnRemove" th:data-id="${f.getFoodId()}"><i
                                        class="ti-trash remove-icon"></i></button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <!--/ End Shopping Summery -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Total Amount -->
                    <div class="total-amount">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-12">
                                <div class="right">
                                    <ul>
                                        <li>Cart Subtotal<span class="totalPriceCart"
                                                               th:text="${TotalPrice}">      <span>$</span></span></li>
                                        <li>Shipping<span>Free</span></li>
                                        <li class="last">You Pay<span class="totalPriceCart" th:text="${TotalPrice}">      <span>$</span></span>
                                        </li>
                                    </ul>
                                    <div class="button5">
                                        <a class="btn" th:href="@{'/Order/checkout/' +${idRes} }">Checkout</a>
                                        <a class="btn" th:href="@{'/Restaurant/show/' +${idRes} }">Continue shopping</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--/ End Total Amount -->
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>